[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/tmux/plugins/nord-tmux"]
	path = .config/tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
