.bash_*
.cache
.cargo
.cfg
.config/EOS-greeter.conf
.config/dconf
.config/eos-update*
.config/font-manager
.config/pacseek
.config/pulse
.config/systemd
.config/user-dirs*
.dmrc
.local
.mozilla
.profile
.viminfo
.xsession*
go
repos
.bashrc
.config/Signal Beta/
.config/autostart/
.config/fuzzel/fuzzel.ini
.config/keybase/
.config/pavucontrol.ini
.config/ranger/colorschemes/__pycache__/
.config/ranger/plugins/__pycache__/
.config/sway/config.d/encom.sway
.config/waybar/config
.gitconfig
.gnupg/
.gtkrc-2.0
.nanorc
.pki/

.config/fish/fish_variables
.config/mako/config
.config/waybar/style.css
.ssh/
