# Ignore everything
*

# But not these files...
!.config
.config/*
!.config/*flags.conf
!.config/fish
!.config/fish/**
!.config/fuzzel
!.config/fuzzel/**
!.config/ghostty
!.config/ghostty/**
!.config/gitconfig
!.config/grimshot
!.config/helix
!.config/helix/**
!.config/kanshi
!.config/kanshi/**
!.config/kitty
!.config/kitty/**
!.config/libreddit.conf
!.config/makepkg.conf
!.config/mako
!.config/mako/**
!.config/pkglist.txt
!.config/ranger
!.config/ranger/**
!.config/starship.toml
!.config/sway
!.config/sway/**
!.config/swaylock
!.config/swaylock/**
!.config/systemd
!.config/systemd/**
!.config/tig
!.config/tig/**
!.config/tmux
!.config/tmux/**
!.config/way-displays
!.config/way-displays/**
# until we can figure out a better profile system, just re-ignore this.
# clients will have to copy|link the appropriate config to cfg.yaml
.config/way-displays/cfg.yaml
!.config/waybar
!.config/waybar/**
!.config/wezterm
!.config/wezterm/**
!.gitignore
!.gitmodules
!.local
.local/*
!.local/share
.local/share/*
!.local/share/applications/*
!.local/share/fonts
!.local/share/fonts/**
!.vim*

!README.md

!*.hwdb
!*.png

## re-exclude these specifics
.viminfo
**/__pycache__/
**/__pycache__/*
