# Ignore everything
*

# But not these files...
!.config
.config/*
!.config/*flags.conf
!.config/fish
!.config/fish/**
!.config/fuzzel
!.config/fuzzel/**
!.config/gitconfig
!.config/grimshot
!.config/helix
!.config/helix/**
!.config/kanshi
!.config/kanshi/**
!.config/kitty
!.config/kitty/**
!.config/makepkg.conf
!.config/mako
!.config/mako/**
!.config/pkglist.txt
!.config/ranger
!.config/ranger/**
!.config/starship.toml
!.config/sway
!.config/sway/**
!.config/swaylock
!.config/swaylock/**
!.config/systemd
!.config/systemd/**
!.config/tig
!.config/tig/**
!.config/tmux
!.config/tmux/**
!.config/way-displays
!.config/way-displays/**
!.config/waybar
!.config/waybar/**
!.config/wezterm
!.config/wezterm/**
!.gitignore
!.gitmodules
!.local/share/applications/*
!.vim*

!README.md

!*.hwdb
!*.png

## re-exclude these specifics
.viminfo

