/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    border-radius: 0;
    font-family: "JetBrains Mono Light", "icomoon", "FuraCode Nerd Font", "FontAwesome";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #81a1c1;
}

tooltip {
    background: #2a2e38;
    /* border-radius: 15px; */
    border-radius: 25px;
    border-width: 2px;
    border-style: none;
}

#workspaces {
    background-color: #434c5e;
    margin: 10px 5px;
    border: none;
    border-radius: 25px;
}
#workspaces button {
    color: #d8dee9;
}

#workspaces button:first-child {
  /* not sure why this doesn't work with 15px to match the parent.
   * without this hacky adjustment, there is a thin ~2px arc along the
   * rounded corner that doesn't fill all the way to the parent's rounded
   * border. Ditto for the last-child.
   */
    border-top-left-radius: 25px;  
    border-bottom-left-radius: 25px;  
}

#workspaces button:last-child {
    border-top-right-radius: 25px;  
    border-bottom-right-radius: 25px;  
}

#workspaces button.focused {
    background-color: #5e81ac;
}

#workspaces button.urgent {
    color: #2a2e38;
    background-color: #ebcb8b;
}

#workspaces button:hover {
    background-color: #88c0d0;
    color: #2a2e38;
}

#mode {
    color: #2e3440;
    background-color: #ebcb8b;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 25px;
    border: none;
}

#window {
  
    color: #81a1c1;

    padding: 0px 10px 0px 10px;
    margin: 5px 5px;
    background-color: #2e3440;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* border: 2px solid #81a1c1; */
    border: none;
}

/* #window:blank { */
/*     border: none; */
/* } */

#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-launcher,
#custom-power,
#custom-pacman {
    padding: 5px 10px 5px 10px;
    margin: 10px 0px;
    background-color: #2e3440;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#backlight {
    background-color: #8fbcbb;
    color: #2e3440;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
}

#pulseaudio {
    background-color: #88c0d0;
    color: #2e3440;
}

#pulseaudio.muted {
    background-color: #b48ead;
}

#idle_inhibitor {
    background-color: #81a1c1;
    color: #e5e9f0;
}

#idle_inhibitor.activated {
    background-color: #bf616a;
    color: #e5e9f0;
}

#network{
    background-color: #5e81ac;
    border-color: #5e81ac;
    color: #d8dee9;
}

#network.disabled {
    color:#bf616a;
}

#network.disconnected {
    background-color: #bf616a;
}

#battery {
    background-color: #4c566a;
    color: #e5e9f0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: 10px;
    border: none;
}

#battery.charging {
    background-color: #a3be8c;
    color: #2e3440;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    margin-right: 15px;
    color: #eceff4;
    /* this is going to be on the far right, so add the right border */
    border-radius: 25px;
    border: none;
    background-color: #5e81ac;
}

#cpu {
    color:#a3be8c ;
}

#memory {
    color: #d3869b;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#custom-launcher,#custom-power{
    margin-left: 15px;
    color: #3b4252;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    background-color: #8fbcbb;
}

#tray {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    background-color: #5e81ac; 
}

#custom-keyboard-layout{
   color:#d08770;
}   



