/*
Arc-Dark Color Scheme
*/

@define-color fg #eceff4;
@define-color highlight #8fbcbb;
@define-color base1  #434c5e;
@define-color base2  #4c566a;
@define-color base3  #3b4252;

*{
    font-family: Cousine, Monospace;
}

#window {
    border: none;
    margin: 0px 5px 0px 5px;
}

#inner-box {
    background-color: @base2;
}

#outer-box {
    margin: 5px;
    padding:10px;
    background-color: @base2;
    // margin-top: -22px;
}

#text {
    padding: 5px;
    color: @fg;
}

#entry:nth-child(even) {
    background-color: @base1;
}

#entry {
    background-color: @base3;
}

#entry:selected {
    background-color: @highlight;
}
